name: Build Vectordb in dev

on:
  push:
    branches: [ "dev", "stag", "helm", "distritubed-*" ]
    paths: ['engine/Dockerfile', 'VERSION']

jobs:
  build:
  
    name: Build Vectordb in dev
    runs-on: ubuntu-latest
    # runs-on: self-hosted

    steps:
    - name: Check out code
      uses: actions/checkout@v4

    - name: Log in to Docker Hub
      uses: docker/login-action@f4ef78c080cd8ba55a85445d5b36e214a81df20a
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    - name: Get Current Date 
      id: date
      run: echo "::set-output name=date::$(date +'%Y%m%d%H%M%S')"
          
    - name: Build
      env:
        DOCKER_HUB_REPOSITORY: epsilla/vectordb
        SHA_TAG: ${{ github.sha }}
      run: |
        export IMAGE_TAG=${{ steps.date.outputs.date }}
        export IMAGE_TAG_LATEST="latest"
        echo "IMAGE_TAG: ${IMAGE_TAG}"
        echo "SHA: ${SHA_TAG}"

        wget https://github.com/docker/buildx/releases/download/v0.11.2/buildx-v0.11.2.linux-amd64
        chmod +x buildx-v0.11.2.linux-amd64
        mkdir -p $HOME/.docker/cli-plugins
        mv buildx-v0.11.2.linux-amd64 $HOME/.docker/cli-plugins/docker-buildx
        docker buildx create --use

        export RELEASE_TAG=`cat VERSION`;
        echo "RELEASE_TAG: ${RELEASE_TAG}";
        
        cd ./engine


        docker buildx build --build-arg="RELEASE_VERSION=v${RELEASE_TAG}-${IMAGE_TAG}" \
                            --platform linux/amd64 \
                            --label "org.opencontainers.image.description"="Official Epsilla Vector Database Image" \
                            --label "org.opencontainers.image.documentation"="https://epsilla-inc.gitbook.io/epsilladb" \
                            --label "org.opencontainers.image.source"="https://github.com/epsilla-cloud/vectordb" \
                            --label "org.opencontainers.image.title"="Epsilla Vector Database" \
                            --label "org.opencontainers.image.url"="https://www.epsilla.com" \
                            --label "org.opencontainers.image.vendor"="Epsilla" \
                            --label "org.opencontainers.image.version"=${RELEASE_TAG} \
                            --pull \
                            --push \
                            -t epsilla/vectordb:dev .

        docker buildx build --build-arg="RELEASE_VERSION=v${RELEASE_TAG}-${IMAGE_TAG}" \
                            --platform linux/arm64 \
                            --label "org.opencontainers.image.description"="Official Epsilla Vector Database Image" \
                            --label "org.opencontainers.image.documentation"="https://epsilla-inc.gitbook.io/epsilladb" \
                            --label "org.opencontainers.image.source"="https://github.com/epsilla-cloud/vectordb" \
                            --label "org.opencontainers.image.title"="Epsilla Vector Database" \
                            --label "org.opencontainers.image.url"="https://www.epsilla.com" \
                            --label "org.opencontainers.image.vendor"="Epsilla" \
                            --label "org.opencontainers.image.version"=${RELEASE_TAG} \
                            --pull \
                            --push \
                            -t epsilla/vectordb:dev-arm64 .





        


        
